<div class="section" id="home">
  <div class="container">
    <div class="header-wrapper">
      <h2>
        {{ MyName }}<span class="emoji" role="img" aria-label="Emoji">👋</span>
      </h2>
      <div class="heading-wrapper">
        <h1>{{ Headline1 }}</h1>
        <br />
        <h1>{{ Headline2 }}</h1>
        <br />
        <h1>{{ Headline3 }}</h1>
        <br />
      </div>
      <p>{{ Headline4 }}</p>
      <a
        href="{{ MyJourneyLink }}"
        target="_blank"
        rel="noopener noreferrer"
        class="primary-btn"
        >{{ MyJourney }}</a
      >
    </div>
  </div>
</div>
