#contact {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/angularportfolio-71eaa.appspot.com/o/bg-image5.jpg?alt=media&token=15e41074-897b-4985-8b52-a42fcbe0ee28");
}

.footer-container {
  width: 80vw;
  margin-top: 10vh;
  margin-bottom: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: bounceInUp;
  animation-duration: 3s;
  h1 {
    font-size: 3rem;
    line-height: 20px;
    color: #8867ac;
  }
  h2 {
    font-size: 2rem;
    margin-top: 8vh;
    overflow: hidden;
    line-height: 20px;
    color: white;
    @media (min-width: 267px) {
      display: 8px;
    }
    @media (min-width: 430px) {
      font-size: 8px;
    }
    @media (min-width: 768px) {
      font-size: 12px;
    }
    @media (min-width: 992px) {
      font-size: 1.2rem;
    }
  }
  .email-link {
    font-size: 1.5rem;
    color: black;
  }
  .social-icons {
    margin-top: 20px;
    img {
      width: 40px;
      margin: 10px;
    }
    a {
      text-decoration: none;
      color: inherit;
    }
  }
  span {
    margin-top: 10px;
  }
  mat-icon {
    color: black;
    font-size: 1.6rem;
    margin-right: 0.5px;
  }
}
