<div class="section" id="contact">
  <div class="container">
    <div class="footer-container">
      <h1>{{ title }}</h1>
      <h2>{{ contactSubheading }}</h2>
      <a class="primary-btn" href="mailto:{{ contactEmail }}">{{
        connectWithMe
      }}</a>
      <div class="social-icons">
        <a href="{{ Telegram }}" target="_blank" rel="noopener noreferrer">
          <img src="{{ TelegramImg }}" alt="telegram" />
        </a>
        <a href="{{ GitHub }}" target="_blank" rel="noopener noreferrer">
          <img src="{{ GitHubImg }}" alt="github" />
        </a>
        <a href="{{ LinkedIn }}" target="_blank" rel="noopener noreferrer">
          <img src="{{ LinkedInImg }}" alt="linkedin" />
        </a>
        <a href="{{ Twitter }}" target="_blank" rel="noopener noreferrer">
          <img src="{{ TwitterImg }}" alt="twitter" />
        </a>
        <a href="{{ Instagram }}" target="_blank" rel="noopener noreferrer">
          <img src="{{ InstagramImg }}" alt="instagram" />
        </a>
      </div>
      <span
        >Made With
        <mat-icon aria-hidden="false" aria-label="Example heart icon"
          >favorite</mat-icon
        >
        by Zdravko Bozhkov &copy; {{ currentYear }}.
      </span>
    </div>
  </div>
</div>
