<div class="section">
  <div class="container">
    <div class="navbar-wrapper">
      <a class="name" href="/" (click)="(ToHome)">{{ title }}</a>
      <div class="links-wrapper">
        <a class="buttons" href="#work">{{ Projects }}</a>
        <a class="buttons" href="#about">{{ About }}</a>
        <a class="buttons" href="#contact">{{ Contact }}</a>
        <a
          class="buttons"
          href="{{ BlogLink }}"
          target="_blank"
          rel="noopener noreferrer"
        >
          {{ Blog }}
        </a>
      </div>
    </div>
    <section class="side-nav">
      <a class="name" href="/" (click)="(ToHome)">{{ title }}</a>
      <input id="menu-toggle" type="checkbox" />
      <label class="menu-button-container" for="menu-toggle">
        <div class="menu-button"></div>
      </label>
      <ul class="menu">
        <li>
          <a href="#work">{{ Projects }}</a>
        </li>
        <li>
          <a href="#about">{{ About }}</a>
        </li>
        <li>
          <a href="#contact">{{ Contact }}</a>
        </li>
        <li>
          <a href="{{ BlogLink }}" target="_blank" rel="noopener noreferrer">{{
            Blog
          }}</a>
        </li>
      </ul>
    </section>
  </div>
</div>
