#work {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/angularportfolio-71eaa.appspot.com/o/bg-image2.jpeg?alt=media&token=5cf7c632-de6b-4b55-a585-32b075d8e31b");
  margin-top: 150px;
}
.work-wrapper {
  width: 80vw;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: backInDown;
  animation-duration: 3s;
  h1 {
    font-size: 3rem;
    line-height: 20px;
    color: #8867ac;
  }
  h5 {
    font-size: 1.5rem;
  }
  .grid {
    display: grid;
    margin-top: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    @media (min-width: 430px) {
      grid-template-columns: 1fr;
    }
    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
    }
    @media (min-width: 992px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  .matcard {
    max-width: 300px;
  }
  img {
    height: 200px;
  }
}
