<div class="section" id="work">
  <div class="container">
    <div class="work-wrapper">
      <h1>{{ Title }}</h1>
      <div class="grid">
        <mat-card class="matcard">
          <img
            mat-card-image
            src="{{ Card1image }}"
            alt="sentry-gun"
            style="max-height: 250px"
          />
          <mat-card-content>
            <h5>{{ Card1title }}</h5>
            <p>{{ Card1text }}</p>
          </mat-card-content>
          <mat-card-actions>
            <a
              mat-button
              href="{{ Card1link }}"
              target="_blank"
              rel="noopener noreferrer"
              color="primary"
              >{{ Visit }}</a
            >
          </mat-card-actions>
        </mat-card>
        <mat-card class="matcard">
          <img mat-card-image src="{{ Card2image }}" alt="intelligent" />
          <mat-card-content>
            <h5>{{ Card2title }}</h5>
            <p>{{ Card2text }}</p>
          </mat-card-content>
          <mat-card-actions>
            <a
              mat-button
              href="{{ Card2link }}"
              target="_blank"
              rel="noopener noreferrer"
              color="primary"
              >{{ Visit }}</a
            >
          </mat-card-actions>
        </mat-card>
        <mat-card class="matcard">
          <img mat-card-image src="{{ Card3image }}" alt="spring-car" />
          <mat-card-content>
            <h5>{{ Card3title }}</h5>
            <p>{{ Card3text }}</p>
          </mat-card-content>
          <mat-card-actions>
            <a
              mat-button
              href="{{ Card3link }}"
              target="_blank"
              rel="noopener noreferrer"
              color="primary"
              >{{ Visit }}</a
            >
          </mat-card-actions>
        </mat-card>
        <mat-card class="matcard">
          <img mat-card-image src="{{ Card4image }}" alt="react-spotify" />
          <mat-card-content>
            <h5>{{ Card4title }}</h5>
            <p>{{ Card4text }}</p>
          </mat-card-content>
          <mat-card-actions>
            <a
              mat-button
              href="{{ Card4link }}"
              target="_blank"
              rel="noopener noreferrer"
              color="primary"
              >{{ Visit }}</a
            >
          </mat-card-actions>
        </mat-card>
        <mat-card class="matcard">
          <img mat-card-image src="{{ Card5image }}" alt="telegram-bot" />
          <mat-card-content>
            <h5>{{ Card5title }}</h5>
            <p>{{ Card5text }}</p>
          </mat-card-content>
          <mat-card-actions>
            <a
              mat-button
              href="{{ Card5link }}"
              target="_blank"
              rel="noopener noreferrer"
              color="primary"
              >{{ Visit }}</a
            >
          </mat-card-actions>
        </mat-card>
        <mat-card class="matcard">
          <img mat-card-image src="{{ Card6image }}" alt="react-news" />
          <mat-card-content>
            <h5>{{ Card6title }}</h5>
            <p>{{ Card6text }}</p>
          </mat-card-content>
          <mat-card-actions>
            <a
              mat-button
              href="{{ Card6link }}"
              target="_blank"
              rel="noopener noreferrer"
              color="primary"
              >{{ Visit }}</a
            >
          </mat-card-actions>
        </mat-card>
        <mat-card class="matcard">
          <img mat-card-image src="{{ Card7image }}" alt="react-netflix" />
          <mat-card-content>
            <h5>{{ Card7title }}</h5>
            <p>{{ Card7text }}</p>
          </mat-card-content>
          <mat-card-actions>
            <a
              mat-button
              href="{{ Card7link }}"
              target="_blank"
              rel="noopener noreferrer"
              color="primary"
              >{{ Visit }}</a
            >
          </mat-card-actions>
        </mat-card>
        <mat-card class="matcard">
          <img mat-card-image src="{{ Card8image }}" alt="recipe-book" />
          <mat-card-content>
            <h5>{{ Card8title }}</h5>
            <p>{{ Card8text }}</p>
          </mat-card-content>
          <mat-card-actions>
            <a
              mat-button
              href="{{ Card8link }}"
              target="_blank"
              rel="noopener noreferrer"
              color="primary"
              >{{ Visit }}</a
            >
          </mat-card-actions>
        </mat-card>
        <mat-card class="matcard">
          <img mat-card-image src="{{ Card9image }}" alt="shortest-path" />
          <mat-card-content>
            <h5>{{ Card9title }}</h5>
            <p>{{ Card9text }}</p>
          </mat-card-content>
          <mat-card-actions>
            <a
              mat-button
              href="{{ Card9link }}"
              target="_blank"
              rel="noopener noreferrer"
              color="primary"
              >{{ Visit }}</a
            >
          </mat-card-actions>
        </mat-card>
        <mat-card class="matcard">
          <img mat-card-image src="{{ Card10image }}" alt="news-scrape" />
          <mat-card-content>
            <h5>{{ Card10title }}</h5>
            <p>{{ Card10text }}</p>
          </mat-card-content>
          <mat-card-actions>
            <a
              mat-button
              href="{{ Card10link }}"
              target="_blank"
              rel="noopener noreferrer"
              color="primary"
              >{{ Visit }}</a
            >
          </mat-card-actions>
        </mat-card>
        <mat-card class="matcard">
          <img mat-card-image src="{{ Card11image }}" alt="android-scanner" />
          <mat-card-content>
            <h5>{{ Card11title }}</h5>
            <p>{{ Card11text }}</p>
          </mat-card-content>
          <mat-card-actions>
            <a
              mat-button
              href="{{ Card11link }}"
              target="_blank"
              rel="noopener noreferrer"
              color="primary"
              >{{ Visit }}</a
            >
          </mat-card-actions>
        </mat-card>
        <mat-card class="matcard">
          <img mat-card-image src="{{ Card12image }}" alt="android-scanner" />
          <mat-card-content>
            <h5>{{ Card12title }}</h5>
            <p>{{ Card12text }}</p>
          </mat-card-content>
          <mat-card-actions>
            <a
              mat-button
              href="{{ Card12link }}"
              target="_blank"
              rel="noopener noreferrer"
              color="primary"
              >{{ Visit }}</a
            >
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
