<div class="section">
  <div class="container">
    <div class="skills-container">
      <h1>{{ title }}</h1>
      <div class="grid">
        <mat-card class="matcard">
          <img src="../../assets/images/java-logo.png" alt="java" />
          <mat-card-content>
            <h3>{{ java }}</h3>
          </mat-card-content>
        </mat-card>
        <mat-card class="matcard">
          <img src="../../assets/images/5968544.png" alt="python" />
          <mat-card-content>
            <h3>{{ python }}</h3>
          </mat-card-content>
        </mat-card>
        <mat-card class="matcard">
          <img src="../../assets/images/721791.png" alt="javascript" />
          <mat-card-content>
            <h3>{{ javascript }}</h3>
          </mat-card-content>
        </mat-card>
        <mat-card class="matcard">
          <img src="../../assets/images/873168.png" alt="bigquery" />
          <mat-card-content>
            <h3>{{ googlecloud }}</h3>
          </mat-card-content>
        </mat-card>
        <mat-card class="matcard">
          <img src="../../assets/images/732113.png" alt="sketch" />
          <h3>{{ sketch }}</h3>
        </mat-card>
        <mat-card class="matcard">
            <img src="../../assets/images/353972.png" alt="csharp" />
            <h3>{{csharp}}</h3>
        </mat-card>
        <mat-card class="matcard">
          <img src="../../assets/images/658099.png" alt="sql" />
          <h3>{{ sql }}</h3>
        </mat-card>
        <mat-card class="matcard">
            <img src="../../assets/images/6577247.png" alt="api" />
            <h3>{{api}}</h3>
        </mat-card>
      </div>
    </div>
  </div>
</div>
