<div class="section">
  <div class="container">
    <div class="skills-container">
      <h1>{{ title }}</h1>
      <div class="grid">
        <mat-card class="matcard">
          <img src="{{ javaimg }}" alt="java" />
          <mat-card-content>
            <h3>{{ java }}</h3>
          </mat-card-content>
        </mat-card>
        <mat-card class="matcard">
          <img src="{{ pythonimg }}" alt="python" />
          <mat-card-content>
            <h3>{{ python }}</h3>
          </mat-card-content>
        </mat-card>
        <mat-card class="matcard">
          <img src="{{ javascriptimg }}" alt="javascript" />
          <mat-card-content>
            <h3>{{ javascript }}</h3>
          </mat-card-content>
        </mat-card>
        <mat-card class="matcard">
          <img src="{{ googlecloudimg }}" alt="bigquery" />
          <mat-card-content>
            <h3>{{ googlecloud }}</h3>
          </mat-card-content>
        </mat-card>
        <mat-card class="matcard">
          <img src="{{ sketchimg }}" alt="sketch" />
          <h3>{{ sketch }}</h3>
        </mat-card>
        <mat-card class="matcard">
          <img src="{{ csharpimg }}" alt="csharp" />
          <h3>{{ csharp }}</h3>
        </mat-card>
        <mat-card class="matcard">
          <img src="{{ sqlimg }}" alt="sql" />
          <h3>{{ sql }}</h3>
        </mat-card>
        <mat-card class="matcard">
          <img src="{{ apiimg }}" alt="api" />
          <h3>{{ api }}</h3>
        </mat-card>
      </div>
    </div>
  </div>
</div>
